.App {
  text-align: center;
}

.app-container {
  display: grid;
  grid-template-rows: 100px calc(100vh - 100px);
}

.number-input {
  width: 100px;
}

.tiny-number-input {
  width: 30px;
}

.pokemon-full-data-container {
  display: grid;
  grid-template-columns: 180px auto 250px 350px;
  grid-template-rows: calc(100vh - 140px);
}

.sticky-header > th {
  background: #eee;
  position: sticky;
  top: 0;
  text-align: center;
}

td {
  border: 1px solid #ddd;
}

.header-button {
  width: "100%";
  min-width: 100px;
  background: none;
  border: none;
}

.items-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.types-tab-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.type-table {
  overflow-x: scroll;
  padding-right: 50px;
}

.type-table tr:nth-child(even){background-color: #f2f2f2;}

.type-header {
  height: 100px;
  white-space: nowrap;
}

.type-header > div {
  transform:
    translate(19px, 28px)
    rotate(315deg);
  width: 30px;
}

.type-header > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.type-double {
  background-color: lightgreen;
}

.type-half {
  background-color: lightsalmon;
}

.type-none {
  background-color: lightslategray;
}

.type-foresight {
  border: 2px dotted purple;
}

.zones-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.trainers-tab-container {
  display: grid;
  grid-template-columns: 310px auto;
  grid-template-rows: calc(100vh - 100px);
}

.shops-tab-container {
  display: grid;
  grid-template-columns: 310px auto;
  grid-template-rows: calc(100vh - 100px);
}
