.App {
  text-align: center;
}

.app-container {
  display: grid;
  grid-template-rows: 100px calc(100vh - 100px);
}

.number-input {
  width: 100px;
}

.pokemon-full-data-container {
  display: grid;
  grid-template-columns: 180px auto 250px 350px;
  grid-template-rows: calc(100vh - 140px);
}

th {
  background: #eee;
  position: sticky;
  top: 0;
  text-align: center;
}

.header-button {
  width: "100%";
  min-width: 100px;
  background: none;
  border: none;  
}

.items-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.types-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.zones-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.trainers-tab-container {
  display: grid;
  grid-template-columns: 310px auto;
  grid-template-rows: calc(100vh - 100px);
}

.shops-tab-container {
  display: grid;
  grid-template-columns: 310px auto;
  grid-template-rows: calc(100vh - 100px);
}
