.App {
  text-align: center;
}

.app-container {
  display: grid;
  grid-template-rows: 100px calc(100vh - 100px);
}

input {
  width: 100px;
}

.pokemon-full-data-container {
  display: grid;
  grid-template-columns: 180px auto 250px 350px;
  grid-template-rows: calc(100vh - 140px);
}

th {
  background: white;
  position: sticky;
  top: 0;
}

.items-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.types-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}

.zones-tab-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: calc(100vh - 100px);
}
